:root {
    --ball: #ff8800;
    --background1: #011212;
    --border: 50px;
    --w_h: 100px;
}

body {
    background-color: var(--background1);
}

.ball {
    width: var(--w_h);
    height: var(--w_h);
    background-color: var(--ball);
    border-radius: var(--border);
}
